* {
    box-sizing: border-box;
}

:root {
    --pink: #ff6ec7;
    --purple: #7851a9;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

header h3 {
    padding-left: 20px;
    font-size: 1vw;
    display: inline;
}

.high-score {
    color: var(--pink);
}

/* MAIN */
.container {
    padding: 20px;
    flex-direction: column;
    margin: auto;
    width: 50%;
    text-align: center;
}

h1 {
    font-size: 2vw;
    font-weight: bolder;
}

p {
    font-size: 1.5vw;
}

/* BUTTON STYLES */
.btn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--purple);
}